body {
    background-color: #121212;
}

h1 {
    color: white;
}

h2 {
    color: lightgray;
}

a {
    color: whitesmoke;
}

li {
    color: white;
}

#details {
    border-radius: 25%;
    border-color: #222222;
    border-style: solid;
    border-width: 1em;
    background-color: #333333
}

#assignments {
    border-radius: 25%;
    border-color: royalblue;
    border-style: solid;
    border-width: 1em;
    background-color: #002c80;
}