.changable {
    font-size: 12px;
    background-color: gold
}

.notChangable {

}

.silver {
    font-size: 10px;
    background-color: silver;
}

.bronze {
    font-size: 8px;
    background-color: rosybrown;
}

.make-bold:hover {
    font-weight: bold;
}